body {
  background: url('https://wallpaper-house.com/data/out/10/wallpaper2you_454180.jpg')
    white;
  background-color: rgba(127, 255, 212, 0.567);
  background-size: cover;
}

.button {
  width: 100px;
  height: 50px;
}
.Location {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 800px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-color: rgb(226, 202, 163);
  color: black;
}
.Whole {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: auto;
  height: 800px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.select {
  width: 300px;
}
